<html>
    <head>
        <title>Main App</title>
    </head>
    <body>
        <h1><a href="">사진 목록 페이지</a></h1>
        <section>
            <div>
                <h2>
                    <a href="">고냥이</a>
                </h2>
                <img
                    src="https://img.animalplanet.co.kr/news/2022/10/14/700/z4s0p23t15uwry851crk.jpg"
                    alt="고냥이"
                    width="300"
                />
                <p>고냥이, 1000원</p>
            </div>
            <div>
                <h2>
                    <a href="">고냥이 2</a>
                </h2>
                <img
                    src="https://img.animalplanet.co.kr/news/2022/10/14/700/z4s0p23t15uwry851crk.jpg"
                    alt="고냥이"
                    width="300"
                />
                <p>고냥이, 1000원</p>
            </div>
        </section>
    </body>
</html>